<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<script defer src="/scripts/carousel.js"></script>
    <body>
        <%- include("./partials/header.ejs") %>
            <main>
                <section id="carousel">
                    <ul id="track">
                        <% for( let index = 1; index < 3; index++ ) { %>
                            <li class="slide">
                                <picture>
                                    <img src="/assets/logos/<%= index %>-banner.jpg" alt="slide <%= index %>">
                                </picture>
                            </li>
                        <% } %>
                    </ul>
                    <nav id="btns">
                        <a id="btn-prev" href="#">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                        <a id="btn-next" href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </nav>
                </section>
                <!-- <figure class="banner">
                    <img class="Imagen-Zaphir" src="/assets/logos/banner-nuevo.jpg" alt="imagen">
                </figure> -->
                <section class="banner-bottom">
                    <section>
                        <p class="p-title"><i class="fa-solid fa-truck"></i>Envíos gratis</p>
                        <p>A partir de compras superiores a $ 2.500</p>
                    </section>
                    <section>
                        <p class="p-title"><i class="fa-solid fa-credit-card"></i>3 y 6 cuotas sin interés</p>
                        <p>Pagando con tarjetas de débito y crédito bancarias</p>
                    </section>
                    <section>
                        <p class="p-title"><i class="fa-solid fa-box"></i>Envios a toda a todo el país</p>
                        <p>Hacé tu pedido desde cualquier parte de Argentina</p>
                    </section>
                </section>
                <h2 class="titulo">EN OFERTA</h2>
                <section class="productosdestacados">
                    <% products.forEach(element=> { %>
                        <article>
                            <a href="/productos/detalle/<%= element.id %>"><img
                                    src="/assets/productos/<%= element.images[0].imagen %>" alt="<%= element.nombre %>"
                                    class="imagenDest"></a>
                            <p class="nombreProducto">
                                <%= element.nombre %>
                            </p>
                            <p class="precio">$ <%= element.precio - element.descuento %>
                            </p>
                        </article>
                        <% }) %>
                </section>
                <h2 class="section-categorias">Categorías</h2>
                <section class="secciones">
                    <article class="article_item1">
                        <a href="/productos/jeans"><img src="/assets/productos/JEANS.jpg" alt="Jeans" class="jeans"></a>
                        <div class="palabra">
                            <p>JEANS</p>
                        </div>
                    </article>
                    <article class="article_item2">
                        <a href="/productos/remeras"><img src="/assets/productos/Remeras.jpg" alt="Remeras"
                                class="remeras"></a>
                        <div class="palabra">
                            <p>REMERAS</p>
                        </div>
                    </article>
                    <article class="article_item3">
                        <a href="/productos/buzos"><img src="/assets/productos/buzo2.png" alt="Buzos" class="buzos"></a>
                        <div class="palabra">
                            <p>BUZOS</p>
                        </div>
                    </article>
                    <article class="article_item4">
                        <a href="/productos/camperas"><img src="/assets/productos/Camperas.jpg" alt="Camperas"
                                class="camperas"></a>
                        <div class="palabra">
                            <p>CAMPERAS</p>
                        </div>
                    </article>
                    <article class="article_item5">
                        <a href="/productos/pantalones"><img src="/assets/productos/imagen-1658793935260-645074015.jpg"
                                alt="Pantalones" class="pantalones"></a>
                        <div class="palabra">
                            <p>PANTALONES</p>
                        </div>
                    </article>
                </section>
                <%- include("./partials/logo-wts.ejs") %>
            </main>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>