<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
       <section class="imagenes-pequeñas">
            <figure>
                <img src="/assets/productos/<%= product.imagen[1] %>" alt="<%= product.nombre %>">
            </figure>
            <figure>
                <img src="/assets/productos/<%= product.imagen[2] %>" alt="<%= product.nombre %>">
            </figure>
            <figure>
                <img src="/assets/productos/<%= product.imagen[3] %>" alt="<%= product.nombre %>">
            </figure>
            <section class="section-descripcion1">
                <section class="descripcion1">
                    <p class="detalle-titulo">Descripción</p>
                    <p class="detalle"><%= product.descripcion %></p>
                </section>
            </section>
        </section>
       <section class="descripcion">
            <p class="detalle-titulo">Descripción</p>
            <p class="detalle"><%= product.descripcion %></p>
       </section>
       <section class="img-principal">
            <figure>
                <img src="/assets/productos/<%= product.imagen[0] %>" alt="Campera Malibu">
            </figure>
       </section>
       <section class="section-right">
            <section class="info">
                    <h2><%= product.nombre %></h2><span class="corazon"><a href="#"><i class="fa-solid fa-heart heart2"></i></a></span>
                    <span class="precio">$ <%= resta %></span>
                    <span class="precio1">$ <%= product.precio %></span><span class="descuento">- <%= product.descuento %> OFF</span>
            </section>
            <form action="/productos/carrito" method="get" id="agregar-compra">
                <fieldset class="colores">
                    <p>Color</p>
                    <input type="radio" name="color" id="<%= product.colores[0] %>">
                    <label for="<%= product.colores[0] %>"><img src="/assets/colores/<%= product.colores[0] %>.jpg" alt="<%= product.colores[0] %>"></label>

                    <input type="radio" name="color" id="<%= product.colores[1] %>">
                    <label for="<%= product.colores[1] %>"><img src="/assets/colores/<%= product.colores[1] %>.jpg" alt="<%= product.colores[1] %>"></label>

                    <input type="radio" name="color" id="<%= product.colores[2] %>">
                    <label for="<%= product.colores[2] %>"><img src="/assets/colores/<%= product.colores[2] %>.jpg" alt="<%= product.colores[2] %>"></label>

                    <input type="radio" name="color" id="<%= product.colores[3] %>">
                    <label for="<%= product.colores[3] %>"><img src="/assets/colores/<%= product.colores[3] %>.jpg" alt="<%= product.colores[3] %>"></label>

                    <input type="radio" name="color" id="<%= product.colores[4] %>">
                    <label for="<%= product.colores[4] %>"><img src="/assets/colores/<%= product.colores[4] %>.jpg" alt="<%= product.colores[4] %>"></label>
                </fieldset>
                <fieldset class="talles">
                    <p>Talles</p>
                    <label for="<%= product.talle[0] %>" class="label-talle"><%= product.talle[0] %></label>
                    <input type="radio" name="talle" id="<%= product.talle[0] %>">

                    <label for="<%= product.talle[1] %>" class="label-talle"><%= product.talle[1] %></label>
                    <input type="radio" name="talle" id="<%= product.talle[1] %>">

                    <label for="<%= product.talle[2] %>" class="label-talle"><%= product.talle[2] %></label>
                    <input type="radio" name="talle" id="<%= product.talle[2] %>">

                    <label for="<%= product.talle[3] %>" class="label-talle"><%= product.talle[3] %></label>
                    <input type="radio" name="talle" id="<%= product.talle[3] %>">

                    <label for="<%= product.talle[4] %>" class="label-talle"><%= product.talle[4] %></label>
                    <input type="radio" name="talle" id="<%= product.talle[4] %>">
                </fieldset>
                <fieldset class="quantity">
                        <p>Cantidad</p>
                         <select name="cantidad" id="cantidad">
                           
                            <!-- <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option> -->
                         </select>
                </fieldset>
                <fieldset class="form-boton">
                    <button>
                        AGREGAR AL CARRITO
                    </button>
                </fieldset>
            </form>
        </section>
        <form class="form-editar" action="/productos/editar" method="get">
            <button>
                EDITAR
            </button>
        </form>
        <form class="form-eliminar" action="/productos/eliminar" method="get">
            <button>
                ELIMINAR
            </button>
        </form>
        <%- include("../partials/logo-wts.ejs") %> 
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>