<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <section class="imagenes-pequeñas">
                    <figure>
                        <img src="/assets/productos/<%= product.images[1].imagen %>" alt="<%= product.nombre %>">
                    </figure>
                    <figure>
                        <img src="/assets/productos/<%= product.images[2].imagen %>" alt="<%= product.nombre %>">
                    </figure>
                    <figure>
                        <img src="/assets/productos/<%= product.images[3].imagen %>" alt="<%= product.nombre %>">
                    </figure>
                    <section class="section-descripcion1">
                        <section class="descripcion1">
                            <p class="detalle-titulo">Descripción</p>
                            <p class="detalle">
                                <%= product.descripcion %>
                            </p>
                        </section>
                    </section>
                </section>
                <section class="descripcion">
                    <p class="detalle-titulo">Descripción</p>
                    <p class="detalle">
                        <%= product.descripcion %>
                    </p>
                </section>
                <section class="img-principal">
                    <figure>
                        <img src="/assets/productos/<%= product.images[0].imagen %>" alt="Campera Malibu">
                    </figure>
                </section>
                <section class="section-right">
                    <section class="info">
                        <h2>
                            <%= product.nombre %>
                        </h2><span class="corazon"><a href="/productos/favoritos"><i
                                    class="fa-solid fa-heart heart2"></i></a></span>
                        <% if (product.descuento==0) { %>
                            <span class="precio">$ <%= product.precio %></span>
                            <% } else { %>
                                <span class="precio">$ <%= product.precioFinal %></span>
                                <span class="precio1">$ <%= product.precio %></span><span class="descuento">
                                    <%= product.porciento %>% OFF
                                </span>
                                <% } %>
                    </section>
                    <form action="/productos/carrito" method="get" id="agregar-compra">
                        <fieldset class="colores">
                            <p>Color</p>
                            <% for( let index=0; index < product.colors.length; index++ ) { %>
                                <label for="<%= product.colors[index].color %>"><img
                                        src="/assets/colores/<%= product.colors[index].color %>.jpg"
                                        alt="<%= product.colors[index].color %>"></label>
                                <input type="radio" name="color" id="<%= product.colors[index].color %>"
                                    value="<%= product.colors[index].color %>">
                                <% } %>
                        </fieldset>
                        <fieldset class="talles">
                            <p>Talles</p>
                            <% for( let index=0; index < product.sizes.length; index++ ) { %>
                                <label for="<%= product.sizes[index].size %>" class="label-talle">
                                    <%= product.sizes[index].size %> %>
                                </label>
                                <input type="radio" name="talle" id="<%= product.sizes[index].size %> %>"
                                    value="<%= product.sizes[index].size %> %>">
                                <% } %>
                        </fieldset>
                        <fieldset class="quantity">
                            <p>Cantidad</p>
                            <select name="cantidad" id="cantidad">
                                <% for( let index=1; index <=product.stock; index++ ) { %>
                                    <option value="<%= index %>">
                                        <%= index %>
                                    </option>
                                    <% } %>
                            </select>
                        </fieldset>
                        <fieldset class="form-boton">
                            <button>
                                AGREGAR AL CARRITO
                            </button>
                        </fieldset>
                    </form>
                </section>
                <% if (user && user.isAdmin) { %>
                    <form class="form-editar" action="/productos/editar/<%= product.id %>" method="get">
                        <button>
                            EDITAR
                        </button>
                    </form>
                    <form class="form-eliminar" action="/productos/delete/<%= product.id %>?m=DELETE" method="POST">
                        <button type="submit">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                    <% } %>
                        <%- include("../partials/logo-wts.ejs") %>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>