<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script defer src="/scripts/edit.js"></script>
    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <h1>Editar producto</h1>
                <form action="/productos/editar/<%= product.id %>?m=PUT" method="post" id="form" enctype="multipart/form-data">
                    <fieldset>
                        <label>Nombre del producto</label>
                        <input class="input" type="text" name="nombre" placeholder="Nombre del producto" value="<%= locals.oldData ? oldData.nombre : product.nombre %>">
                        <p class="feed">Holaa</p>
                    </fieldset>
                    <fieldset>
                        <label>Descripción</label>
                        <textarea name="descripcion" placeholder="Descripción"><%= locals.oldData ? oldData.descripcion : product.descripcion %></textarea>
                        <p class="feed">Holaa</p>
                    </fieldset>
                    <fieldset>
                        <label>Imagen</label>
                        <input class="imput-imagen" type="file" name="imagen" placeholder="Imagen" multiple>
                        <p class="feed">Holaa</p>
                    </fieldset>
                    <fieldset>
                        <label>Categoría</label>
                        <select class="select" name="categoria" placeholder="Categoría">
                            <% let categorias=["Remeras", "Buzos" , "Camperas" , "Vestidos" , "Pantalones" , "Jeans" ]%>
                                <% for( let index=0; index < categorias.length; index++ ) { %>
                                    <% if (categorias[index] == product.categoria) { %>
                                        <option value="<%= categorias[index] %>" selected><%= categorias[index] %></option>
                                    <% } else { %>
                                        <option value="<%= categorias[index] %>"><%= categorias[index] %></option>
                                    <% } %>
                                <% } %>
                        </select>
                        <p class="feed">Holaa</p>
                    </fieldset>
                    <fieldset>
                        <label>Colores</label>
                            <% let colores = product.colors.map(element => { %>
                                <% return element.color %>
                            <% }) %>
                            <input class="input" type="text" name="color" placeholder="Separar por comas y no dejar espacios" value="<%= locals.oldData ? oldData.color : colores %>">
                        <p class="feed">Holaa</p>
                    </fieldset>
                    <fieldset>
                        <label>Talle</label>
                            <% let talles = product.sizes.map(element => { %>
                                <% return element.size %>
                            <% }) %>
                            <input class="input" type="text" name="talle" placeholder="Separar por comas y no dejar espacios" value="<%= locals.oldData ? oldData.talle : talles %>">
                        <p class="feed">Holaa</p>
                    </fieldset>
                    <fieldset>
                        <label>Stock</label>
                        <input class="input" type="number" name="stock" placeholder="Stock" value="<%= locals.oldData ? oldData.stock : product.stock %>">
                        <p class="feed">Holaa</p>
                    </fieldset>
                    <fieldset>
                        <label>Precio</label>
                        <input class="input" type="number" name="precio" placeholder="Precio" value="<%= locals.oldData ? oldData.precio : product.precio %>">
                        <p class="feed">Holaa</p>
                    </fieldset>
                    <fieldset>
                        <label>Descuento</label>
                        <input class="input" type="number" name="descuento" placeholder="Descuento" value="<%= locals.oldData ? oldData.descuento : product.descuento %>">
                        <p class="feed">Holaa</p>
                    </fieldset>
                    <button class="button-editar">
                        Editar
                    </button>
                    <button type="reset" class="button-editar">
                        Borrar
                    </button>
                </form>
                <%- include("../partials/logo-wts.ejs") %>
            </main>
            <%- include("../partials/footer.ejs") %>
    </body>

</html>