<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
    <figure class="banner">
        <img class = "Imagen-Zaphir" src = "/assets/logos/imagen1.jpg" alt = "imagen">
    </figure>
    <section class="banner-bottom">
        <section>
            <p class="p-title"><i class="fa-solid fa-truck"></i>Envíos gratis</p>
            <p>A partir de compras superiores a $ 2.500</p>
        </section>
        <section>
            <p class="p-title"><i class="fa-solid fa-credit-card"></i>3 y 6 cuotas sin interés</p>
            <p>Pagando con tarjetas de débito y crédito bancarias</p>
        </section>
        <section>
            <p class="p-title"><i class="fa-solid fa-box"></i>Envios a toda a todo el país</p>
            <p>Hacé tu pedido desde cualquier parte de Argentina</p>
        </section>
    </section>
        <main>
            <h2 class = "titulo">PRODUCTOS</h2>
            <form action = "/productos/" method = "get">
                <input type = "text" name = "name" id = "name" placeholder="name">
                <button type = "submit">Buscar</button>
            </form>
            <section class = "productos">
                <% products.forEach(element => { %>
                    <article>
                        <a href="/productos/detalle/<%= element.id %>"><img src="/assets/productos/<%= element.imagen[0] %>" alt="<%= element.nombre %>" class = "imagenDest"></a>
                        <p class = "nombreProducto"><%= element.nombre %></p>
                        <p class = "precio">$ <%= element.precio %></p>
                    </article>
                <% }) %>
            </section>
            <%- include("../partials/logo-wts.ejs") %> 
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
