<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <section class="section-principal">
            <section class="section-top">
                <section class="section-nav">
                    <nav class="nav-1">
                        <a href="#menu-2">Filtrar<i class="fa-solid fa-filter"></i></a>
                    </nav>
                    <nav id=menu-2>
                        <a href="#"><i class="fa-solid fa-x x"></i></a>
                        <section>
                            <p>Talle</p>
                            <div>
                                <input type="checkbox" name="talle" id="xs">XS
                            </div>
                            <div><input type="checkbox" name="talle" id="s">S
                            </div>
                            <div><input type="checkbox" name="talle" id="m">M
                            </div>
                            <div><input type="checkbox" name="talle" id="l">L
                            </div>
                            <div><input type="checkbox" name="talle" id="xl">XL
                            </div>
                        </section>
                        <section>
                            <p>Color</p>
                            <div><input type="checkbox" name="color" id="blanco">Blanco</div>
                            <div><input type="checkbox" name="color" id="negro">Negro</div>
                            <div><input type="checkbox" name="color" id="rosa">Rosa</div>
                            <div><input type="checkbox" name="color" id="rojo"">Rojo</div>
                        </section>
                    </nav>
                </section>
                <section class="filtros">
                    <select name="filtrarpor" id="filtrarpor" class="filtrarpor">
                        <option value="precio-">Precio: Menor a Mayor</option>
                        <option value="precio+">Precio: Mayor a Menor</option>
                        <option value="az">A -Z</option>
                        <option value="za">Z -A</option>
                        <option value="nuevo">Más Nuevo al más Viejo</option>
                        <option value="viejo">Más Viejo al más Nuevo</option>
                        <option value="mas-vendido">Más Vendidos</option>
                        <option value="destacado">Destacados</option>
                    </select>
                </section>
            </section>
            <section class="section-left">
                <section class="talle">
                    <p>Talle</p>
                    <div>
                        <input type="checkbox" name="talle" id="xs">XS
                    </div>
                    <div><input type="checkbox" name="talle" id="s">S
                    </div>
                    <div><input type="checkbox" name="talle" id="m">M
                    </div>
                    <div><input type="checkbox" name="talle" id="l">L
                    </div>
                    <div><input type="checkbox" name="talle" id="xl">XL
                    </div>
                </section>
                <section class="color">
                    <p>Color</p>
                    <div><input type="checkbox" name="color" id="blanco">Blanco</div>
                    <div><input type="checkbox" name="color" id="negro">Negro</div>
                    <div><input type="checkbox" name="color" id="rosa">Rosa</div>
                    <div><input type="checkbox" name="color" id="rojo"">Rojo</div>
                </section>
                <section class="precio">
                    <p>Precio</p>
                    <input type="range" name="range-precio" id="range-precio" min="1000" max="50000">
                </section>
            </section>
            <section class="section-secundaria">
                <% products.forEach(element => { %>
                    <article>
                        <Figure>
                            <a href="/productos/detalle"><img src="/assets/productos/<%= element.imagen[0] %>" alt="<%= element.nombre %>"></a>
                        </Figure>
                        <section>
                            <p class="article-p"><%= element.nombre %></p>
                            <p class="article-precio">$ <%= element.precio %></p>
                        </section>
                    </article>
                <% }) %>
            </section>
        </section>
        <%- include("../partials/logo-wts.ejs") %> 
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>