<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script defer src="/scripts/login.js"></script>
    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <section class="login">
                    <h1> Inicia sesión </h1>
                </section>
                <form action="/usuario/ingresar" method="POST" id ="form">
                    <fieldset class="NombreUsuario">
                        <label class="label">E-mail</label>
                        <input type="text" name="email" id="nombre"
                            value="<%= locals.oldData ? oldData.email : null %>">
                        <p class ="emailLogin"></p>
                    </fieldset>
                    <fieldset class="Contraseña">
                        <label class="label">Contraseña</label>
                        <input type="password" name="password" id="password"
                            value="<%= locals.oldData ? oldData.password : null %>">
                        <p class ="passwordLogin"></p>
                    </fieldset>
                    <div>
                        <label for="recordame">Recordarme</label>
                        <input type="checkbox" name="recordame" id="recordame">
                    </div>
                    <fieldset class="button">
                        <button>Iniciar sesión</button>
                    </fieldset>
                    <fielset class="form-password">
                        <a href="/">¿Olvidaste tu contraseña?</a>
                    </fielset>
                    <fieldset class="registro">
                        <a href="/usuario/registro">¿Todavía no tenés una cuenta?<span>Crear cuenta</span></a>
                    </fieldset>
                </form>
                <%- include("../partials/logo-wts.ejs") %>
            </main>
            <%- include("../partials/footer.ejs") %>
    </body>

</html>